[component]
component=daos

[commit_versions]
ARGOBOTS = main
PMDK = master
ISAL = master
ISAL_CRYPTO = master
SPDK = master
OFI = main
PSM2 = master
OPENPA = master
MERCURY = master
PROTOBUFC = master

[patch_versions]
spdk=https://github.com/spdk/spdk/commit/690783a3ae82ebe58c00d643520a66103d66d540.diff,https://github.com/spdk/spdk/commit/65425be69a0882ac283fb489aa151d7df06c52ad.diff,https://raw.githubusercontent.com/daos-stack/spdk/master/0003-blob-chunk-clear-operations-in-IU-aligned-chunks.patch
pmdk=https://raw.githubusercontent.com/daos-stack/pmdk/master/DAOS_8273.patch
