[component]
component=daos

[commit_versions]
ARGOBOTS = main
PMDK = master
ISAL = master
ISAL_CRYPTO = master
SPDK = master
OFI = main
PSM2 = master
OPENPA = master
MERCURY = master
PROTOBUFC = master

[patch_versions]
spdk=https://github.com/spdk/spdk/commit/690783a3ae82ebe58c00d643520a66103d66d540.diff
